body {
    font-family: Arial, sans-serif;
    background-color: #000;
}

.card {
    width: 300px;
    height: 700px;
    background-color: #Faebd7;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px auto;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
}

.header .foto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.body {
    padding: 20px;
}

.body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.body li {
    margin-bottom: 10px;
}

.body i {
    margin-right: 10px;
    color: #a52a2a;
}

.body a {
    text-decoration: none;
    color: #000;
}

.body a:hover {
    color: #333;
}

.skills {
    margin-top: 20px;
}

.skills h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.quote {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.quote p {
    font-size: 14px;
    font-style: italic;
    color: #666;
}

.footer {
    background-color: #333;
    text-align: center;
    color: #fff;